$black-500: #262626;
$black-700: #1a1d21;
$black-900: #02080f;
$black-950: #000000;
$dark-gray: #333536;
$gray-100: #e5e5e5;
$gray-300: #b2b2b2;
$gray-500: #737373;
$gray-600: #666666;
$gray-800: #4d4d4d;
$gray-850: #404040;
$gray-900: #3d3e3f;
$gray-950: #2a2c2e;

$white: #ffffff;
$white-2: #f2f2f2;
$dark-purple: #6b228b;
$purple: #b239e8;
