$black: #1a1a1a;
$black-1: #262626;
$dark-gray: #333333;
$gray-100: #e5e5e5;
$gray-300: #b2b2b2;
$gray-500: #737373;
$gray-600: #666666;
$gray-800: #4d4d4d;
$gray-850: #404040;
$white: #ffffff;
$white-2: #f2f2f2;
$dark-purple: #6b228b;
