@use "../../abstracts" as *;

.chat-box {
  max-width: 78.4rem;
  margin: 0 auto;
  width: 100%;
  border-radius: 99rem;
  background-color: $dark-gray;
  box-shadow: 0px 6px 20px 0px rgba($color: $black-950, $alpha: 0.4);
  max-height: 28.2rem;
  height: auto;
  min-height: 0;
  position: relative;
  @include flex(space-between, center, column);

  &.has-image {
    padding: 0 1.2rem 1.2rem;
    border-radius: 2rem;
    .textfield {
      margin-top: 1.2rem;
      textarea {
        bottom: 2.4rem;
        padding: 0 7.2rem;
      }
    }
    .chat-box__actions {
      padding: 0;
      width: 100%;
      // background-color: $dark-gray;
      .icons {
        &--plus {
          background-color: $gray-900;
          cursor: pointer;
        }
        &--send {
          background-color: $purple;
          cursor: pointer;
        }
      }
    }
  }
  &.has-value {
    gap: 1.2rem;
    border-radius: 2rem;
    padding: 0 1.2rem 1.2rem;
    .textfield {
      margin-top: 1.2rem;
      textarea {
        position: relative;
        left: unset;
        bottom: unset;
        padding: unset;
      }
    }
    .chat-box__actions {
      width: 100%;
      background-color: $dark-gray;
      padding: 0;
      .icons {
        &--plus {
          background-color: $gray-900;
          cursor: pointer;
        }
        &--send {
          background-color: $purple;
          cursor: pointer;
        }
      }
    }
  }
  .textfield {
    order: 1;
    flex: 1;
    overflow: scroll;
    width: 100%;
    height: auto;
    display: block;
    overflow-x: hidden;
    margin-top: 0;
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $gray-500;
    }
    .images-container {
      margin-bottom: 1.2rem;
      width: 100%;
      flex-wrap: wrap;
      @include flex(left, flex-start, row, 1.2rem);
      .selected-img {
        border-radius: 0.8rem;
        border: 1px solid $gray-500;
        position: relative;
        width: fit-content;
        height: 5.8rem;
        min-width: 5.8rem;

        @include breakpoint(xl) {
          border-radius: 1.2rem;
          height: 13rem;
          min-width: 13rem;
        }
        &.is-file {
          max-height: 5.6rem;
          padding: 0.6rem 1.2rem;
          @include flex(left, flex-start, row, 0.8rem);
        }
        &:hover {
          .delete-img {
            opacity: 1;
            visibility: visible;
          }
        }
        .delete-img {
          opacity: 0;
          visibility: hidden;
          background-color: $gray-500;
          z-index: 10;
          position: absolute;
          padding: 4px;
          border-radius: 0.4rem;
          cursor: pointer;
          min-width: 1.6rem;
          min-height: 1.6rem;
          top: 0.6rem;
          right: 0.6rem;
          @include flex(center, center);
          &:hover {
            background-color: $gray-800;
          }
        }
        > .image {
          aspect-ratio: 1/1;
          height: 100%;
          object-fit: cover;
        }
        > .file {
          margin: auto 0;
          width: 2.4rem;
          height: 2.4rem;
          object-fit: cover;
        }
        figcaption {
          height: 100%;
          @include flex(space-around, flex-start, column);
          @include text($white-2, 400, 1.6rem);
        }
      }
    }
    textarea {
      padding: 0 5rem;
      position: absolute;
      bottom: 1.2rem;
      left: 0;
      order: 2;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      min-height: 2.4rem !important;
      background-color: inherit;
      overflow-y: hidden;
      box-sizing: border-box;
      white-space: pre-wrap;
      resize: none;
      @include text($white-2, 400, $text-md);
      @include breakpoint(xl) {
        padding: 0 6rem;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      &::placeholder {
        @include text($gray-300, 400, $text-md);
      }
    }
  }
  &__actions {
    position: relative;
    left: unset;
    bottom: unset;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 0;
    min-height: 4.8rem;
    height: auto;
    padding: 0.2rem 0.4rem;
    @include flex(space-between, center);
    @include breakpoint(xl) {
      padding: 0;
    }
    .icons {
      pointer-events: all;
      border-radius: 50%;
      padding: 1.2rem;
      z-index: 100;
      position: relative;
      @include flex(center, center);
      @include box(4rem, 4rem);
      @include breakpoint(xl) {
        @include box(4.8rem, 4.8rem);
      }
      &--plus {
        order: 2;
        background-color: $gray-900;
        cursor: pointer;
        @include breakpoint(xl) {
          background-color: transparent;
        }
      }
      &--send {
        background-color: $gray-900;
        order: 4;
        cursor: not-allowed;
        @include breakpoint(xl) {
          background-color: transparent;
        }
      }
      &.open {
        .options-popup {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
      .options-popup {
        visibility: hidden;
        opacity: 0;
        display: none;
        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 100;
        border-radius: 1.2rem;
        min-width: max-content;
        box-shadow: 0px 3px 10px 1px rgba($color: $black-700, $alpha: 0.4);
        background-color: $gray-900;
        > ul {
          > li {
            padding: 1.2rem;
            @include text($white-2, 400, 1.6rem);
            > labeL {
              cursor: pointer;
              @include flex(left, center, row, 0.4rem);
            }
          }
        }
      }
    }
  }
}
