@use "../../abstracts" as *;

.redirecting {
  @include flex(flex-start, center, column, 1.2rem);
 
  > p {
    @include text($white-2, 500, $text-lg);
  }
}
.confirm {
  margin-top: auto;
  width: 100%;
  max-width: 66.6rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 2.8rem 1.8rem 1.8rem;
  background-color: $black-900;
  @include breakpoint(lg) {
    border-radius: 2rem;
    margin: auto;
    padding: 3.2rem;
  }
  @include flex(flex-start, center, column, 2.8rem);
  &__icon {
    > figure {
      border-radius: 50%;
      background-color: $dark-gray;
      @include flex(center, center);
      @include box(9.6rem, 9.6rem);
      > img {
        @include box(4.8rem, 4.8rem);
      }
    }
  }
  &__content {
    text-align: center;
    > h6 {
      @include text($white-2, 600, $text-xl);
    }
    > p {
      text-align: center;
      margin: 0.6rem 0 1.6rem;
      @include text($gray-100, 400, $text-md, 2.4rem);
    }
    
  }
  &__btns {
    width: 100%;
    @include flex(left, center, column, 1.6rem);
    @include breakpoint(lg) {
      @include flex(left, center, row, 1.6rem);
    }
    .btn {
      border-radius: 1.2rem;
      width: 100%;

      &--secondary {
        order: 2;
        border: none;
        background-color: $dark-gray;
        @include breakpoint(lg) {
          order: 1;
        }
      }
      &--primary {
        order: 1;
        @include breakpoint(lg) {
          order: 2;
        }
      }
    }
  }
}
