@use "../../abstracts" as *;

.getting-started {
  height: 100%;
  width: 100%;
  background-color: $black-500;
  @include flex( $align-items: center, $direction: column);

  .brand-logo {
    width: 100%;
    @include flex($justify-content: left, $align-items: left);

    > img {
      width: 8.6rem;
      margin: 2rem;
    }
  }

  &__container {
    flex: 1;
    width: 100%;
    max-width: 536px;
    padding: 0 1.6rem;
    @include breakpoint(md) {
      padding: 0 3.2rem;
    }
    @include text($white, 400, 1.4rem);
    @include breakpoint(md) {
      font-size: 1.6rem;
    }
    @include flex($justify-content: center, $direction: column, $align-items: center, $gap: 1.6rem);
    .heading-container {
      margin-bottom: 1rem;
      .heading {
        color: $white-2;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 3.2rem;
      }

      .sub-heading {
        color: $gray-300;
        font-weight: 508;
      }
    }

    .button {
      margin-top: 0.1rem;
      width: fit-content;
    }
    .select-language {
      @include flex($direction: column, $align-items: center, $gap: 1.6rem);
      > .select-wrapper {
        > .dropdown {
          > #dropdown-btn {
            background-color: transparent;
            > p {
              color: $white-2;
            }
          }
        }
      }
    }

    .identity-type {
      @include flex($direction: column, $align-items: left, $gap: 1.6rem);
      &__options {
        @include flex(flex-start, flex-start, column, 1.6rem);
        .option {
          cursor: pointer;
          width: 100%;
          padding: 0.8rem;
          border-radius: 1.2rem;
          border: 0.1rem solid rgba($color: $white-2, $alpha: 0.1);
          @include flex(left, center, row, 0.8rem);
          @include breakpoint(md) {
            gap: 1.6rem;
            padding: 1.6rem;
          }
          &:hover {
            background-color: $dark-gray;
          }
          &.selected {
            background-color: rgba($color: $purple, $alpha: 0.05);
          }
          &.selected {
            background-color: rgba($color: $purple, $alpha: 0.2);
          }
          &__avatar {
            background-color: $gray-800;
            border-radius: 0.8rem;
            @include flex(center, center);
            @include box(3.2rem, 3.2rem);
            @include breakpoint(md){
              
              @include box(4.2rem, 4.2rem);
            }
            &.selected {
              background-color: $purple;
            }
          }

          &__detail {
            flex: 1;
            @include flex(flex-start, flex-start, column);
            > strong {
              font-size: 1.6rem;
              @include breakpoint(md) {
                font-size: 2rem;
              }
            }
            > p {
              font-size: 1.2rem;
              text-align: left;
              @include breakpoint(md) {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }

    .action-container {
      @include flex($justify-content: right, $align-items: right);
      width: 100%;

      > button{
        background-color: $purple;
        border-radius: 1.2rem;
        height: 5rem;
        min-width: 12rem;
        &:hover{
          background-color: $dark-purple;
        }
        @include flex(center, center);
        @include text($white-2, 600, $text-md);
      }
    }
  }
}
