@forward './suggestions';
@forward './chatbox';
@forward './getting-started';
@forward './complete-confirm';
@forward './color-picker';
@forward './qualityScore';
@forward './sidebar';
@forward './image-uploader';
@forward './slider';