@forward './suggestions';
@forward './chatbox';
@forward './getting-started';
@forward './color-picker';
@forward './qualityScore';
@forward './sidebar';
@forward './image-uploader';
@forward './slider';
@forward './switch';
@forward './service-business';
@forward './site-type-picker';