@use "../../abstracts" as *;

.quality-score {
  width: 100%;
  max-width: 32rem;
  padding: 1.6rem 1.2rem;
  border-radius: 1.4rem;
  background: linear-gradient(135deg, $dark-purple, $black-900);
  color: $white-2;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.25);
  height: 20.6rem;
  @include flex(space-between, flex-start, column);
  @include breakpoint(lg) {
    border-radius: 2rem;
  }

  &__top {
    width: 100%;
    @include flex(space-between, center, row);
  }

  &__title {
    width: 100%;
    @include flex(left, center, row, 0.6rem);
    @include text($gray-100, 400, $text-sm);

    @include breakpoint(xs) {
      font-size: 1.3rem;
    }
  }

  &__icon {
    background: none;
    border: none;
    color: $gray-300;
    font-size: 1.8rem;
    cursor: pointer;
    transition: opacity 0.2s ease;
    padding: 0;
    position: relative;
    @include breakpoint(xs) {
      font-size: 1.6rem;
    }
    &:hover {
      .brand-insight-tip {
        visibility: visible;
        opacity: 1;
      }
    }
    .brand-insight-tip {
      position: absolute;
      bottom:100%;
      right: -2rem;
      visibility: hidden;
      opacity: 0;
      width: fit-content;
      padding: 0.6rem;
      z-index: 100;
      border-radius: 0.8rem;
      min-width: 24rem;
      text-align: left;
      background-color: $black-700;
      @include text($white-2, 400, 1rem,1.4rem);
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__percentage {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    @include text($white-2, 400, 5.8rem);

    @include breakpoint(md) {
      font-size: 6.4rem;
    }
    > img {
      position: absolute;
      top: 1rem;
      right: -2rem;
      @include box(2.4rem, 2.4rem);
    }
  }

  &__footer {
    &-title {
      margin-bottom: 0.2rem;
      @include text($white-2, 500, $text-lg);

      @include breakpoint(xs) {
        font-size: 1.4rem;
      }
    }

    &-text {
      opacity: 0.7;
      @include text($white-2, 400, $text-xs);

      @include breakpoint(xs) {
        font-size: 1.2rem;
      }
    }
  }
}
