@use "../../abstracts" as *;
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 34.5rem;
  height: 100%;
  padding: 2.4rem 1.6rem;
  background-color: $black-900;
  display: none;
  @include breakpoint(lg) {
    @include flex(flex-start, flex-start, column, 2.4rem);
  }

  &__toggle-icon {
    z-index: 100;
    cursor: pointer;
    background-color: $black-900;
    position: absolute;
    top: 3rem;
    right: -1.2rem;
    border-radius: 50%;
    border: 1px solid $gray-800;
    @include box(2.8rem, 2.8rem);
    @include flex(center, center);
    > img {
      transform: rotate(180deg);
      @include box(1.6rem, 1.6rem);
    }
  }
  &__logo {
    text-align: left;
    width: 100%;
    img{
      object-fit: cover;
      @include box(2.8rem, 3.2rem);
    }
  }
  &__styles {
    margin: 4.4rem 0;
    flex: 1;
    width: 100%;
    @include flex(flex-start, flex-start, column, 2.4rem);
    .upload-logo{
      width: 100%;
      @include flex(flex-start, flex-start, column, 0.8rem);
      > b{
        @include text($gray-100, 400,$text-sm);
      }
      > p{
        @include text($gray-300, 400,$text-sm);
      }

      > label{
        cursor: pointer;
        border-radius: 0.8rem;
        background-color: $dark-gray;
        @include box(4.8rem, 4.8rem);
        @include flex(center, center);
      }
    }
  }

  &__quality-score {
    width: 100%;
  }

  &__settings {
    margin-top: auto;
    padding: 0.6rem;
    @include flex(left, center, row, 1.2rem);
    .user-avatar {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: contain;
    }
    .user-info {
      > strong {
        @include text($white-2, 400, $text-md);
      }
      > p {
        @include text($gray-100, 400, $text-sm);
      }
    }
  }
}
