@use "../abstracts" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: $font-family;
  font-size: 10px;
}

body {
  background-color: $black-1;
  letter-spacing: 0.25px;
  color: $white;
  
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset,
figure {
  outline: none;
  overflow: hidden;
  border: none;
}

input,
textarea {
  outline: none;
  border: none;
  &::placeholder{
    font-size: 12px;
    font-family: $font-family;
    @include breakpoint(sm){
      font-size: 14px;
    }
   
  }

}

label {
  display: block;
}

button:disabled {
  background-color: #b1b1b1;
  cursor: not-allowed;
  &:hover {
    background-color: #b1b1b1;
  }
}
