@use "../abstracts" as *;



.loading {
  @include position(fixed, 0, 0, 0, 0);
  width: 100%;
  height: 100%;
  background-color: transparent;
  @include flex(center, center);
  .loader {
    width: 60px;
    aspect-ratio: 1;
    --_c: no-repeat radial-gradient(farthest-side, #b239e8 92%, transparent);
    background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
    background-size: 14px 14px;
    animation: loadingSpinner 1s infinite;
  }
}

/* HTML: <div class="loader"></div> */

@keyframes loadingSpinner {
  to {
    transform: rotate(0.5turn);
  }
}

