@use '../abstracts' as *;
@font-face {
  font-family: $font-family;
  src: url('/fonts/AlbertSans-Italic-VariableFont_wght.ttf')
    format('truetype'); /* Path to the font file */
  font-weight: 100 900;
  font-style: italic;
  font-optical-sizing: auto;
}
@font-face {
  font-family: $font-family;
  src: url('/fonts/AlbertSans-VariableFont_wght.ttf')
    format('truetype'); /* Path to the font file */
  font-weight: 100 900;
  font-style: normal;
  font-optical-sizing: auto;
}
