@use "../../abstracts" as *;

.chat-bot {
  display: grid;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &.hide {
    .sidebar-overlay {
      display: none;
    }
    .sidebar {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50rem);
    }
    @include breakpoint(xl) {
      .sidebar {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);

        display: flex;
        width: 8rem;
        &__logo {
          text-align: center;
        }
        &__toggle-icon {
          > img {
            transform: rotate(180deg) scale(0.65);
          }
        }
        &__quality-score {
          display: none;
        }
        &__settings {
          overflow-x: hidden;
          .user-info {
            visibility: hidden;
            opacity: 0;
          }
        }
        &__styles {
          display: none;
        }
      }
      .chat-window {
        margin-left: 8rem;
      }
    }
  }
  @include position(fixed, 0, 0, 0, 0);
  .chat-window {
    max-width: 100%;
    padding: 0 0.8rem;
    height: 100%;
    @include flex(flex-start, flex-start, column);
    @include breakpoint(xl) {
      margin-left: 34.5rem;
      padding: 0 1.6rem;
    }
    .heading {
      width: 100%;
      height: 8.4rem;
      background-color: $black-700;
      z-index: 1;
      @include position(sticky, 0, null, null, null);
      @include flex(space-between, center);
      @include breakpoint(xl) {
        height: 9.6rem;
      }
      .menu-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: auto 0;
        display: block;
        cursor: pointer;
        @include breakpoint(xl) {
          display: none;
        }
        > img {
          @include box(2.4rem, 2.4rem);
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          border-radius: 50%;
          background: $purple;
          @include box(1rem, 1rem);
        }
        &.news {
          &::after {
            display: block;
          }
        }
      }
      &__brand {
        flex: 1;
        height: 100%;
        margin-right: 1.6rem;
        @include flex(center, center, column);
        @include breakpoint(sm) {
          margin-right: 0;
        }
        > strong {
          @include text($white-2, 500, $text-lg);
        }
        > small {
          @include text($gray-300, 400, $text-sm);
        }
      }
      .move-on {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint(xl) {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        button {
          margin: auto;
          background-color: #332359;
          border-radius: 50%;
          background-color: $black-700;
          border-radius: 2rem;
          width: auto;
          border: 1px solid $purple;
          padding: 0.4rem 0.6rem;
          height: 3rem;
          &:hover {
            background-color: $purple;
          }
          @include text($white-2, 400, $text-sm);
          @include flex(center, center, row, 0.4rem);
          @include breakpoint(md) {
            font-size: $text-md;
            height: 3.6rem;
          }
          @include breakpoint(xl) {
            padding: 0.8rem 1.2rem;
          }
          > img {
            width: 1.2rem;
            height: 1.2rem;
            display: none;
            @include breakpoint($minWidth: 400px) {
              display: block;
            }
            @include breakpoint(sm) {
              width: 1.4rem;
              height: 1.4rem;
            }
          }
        }
      }
    }
    .chat {
      padding: 5.4rem 0.8rem 0;
      flex: 1 1 auto;
      margin: 0 auto;
      width: 100%;
      position: relative;
      max-width: 78.4rem;
      min-height: 0;
      overflow-y: auto;
      @include flex(flex-start, flex-start, column, 5.7rem);
      @include breakpoint(xl) {
        padding: 5.4rem 0 0;
      }
      &__history {
        flex: 1 1 auto;
        width: 100%;
        @include flex(flex-start, flex-start, column);
        .message {
          min-height: 5rem;
          margin-bottom: 3.8rem;
          background-color: transparent;
          // @include text($white-2, 400, $text-md, 2.6rem);
          &__logo {
            @include text($gray-300, 400, $text-xs);

            > img {
              width: 1.4rem;
              height: 1.4rem;
              margin-right: 0.4rem;
            }
          }
          &--user {
            min-width: 0;
            max-width: 80%;
            margin-left: auto;
            @include flex(flex-start, flex-end, column, 0.8rem);
            @include breakpoint(xl) {
              max-width: 70%;
            }
            &.editing {
              border-radius: 1.2rem;
              background-color: $dark-gray;
              width: 100%;
              padding: 0.8rem;
              overflow-y: hidden;
              @include flex(flex-start, flex-start, column, 1.2rem);
              @include breakpoint(xl) {
                padding: 1.2rem;
              }
            }
            .message__logo {
              visibility: hidden;
            }
            .message__content {
              border-radius: 1.2rem;
              padding: 1.2rem;
              font-size: $text-lg;
              color: $white-2;
              background-color: $dark-purple;
            }
            .edit-icon {
              cursor: pointer;
              margin-right: 0.8rem;
            }
            .editing__textarea {
              padding: 0.4rem;
              display: block;
              box-sizing: border-box;
              width: 100%;
              height: auto;
              max-height: 22rem;
              min-height: 2.4rem;
              background-color: inherit;
              overflow-y: auto;
              box-sizing: border-box;
              white-space: pre-wrap;
              resize: none;
              @include text($white-2, 400, $text-md);

              &::-webkit-scrollbar {
                display: none;
              }
              &::placeholder {
                @include text($gray-300, 400, $text-md);
              }
            }

            .editing__actions {
              width: 100%;
              @include flex(right, center, row, 0.8rem);
              @include breakpoint(xl) {
                gap: 1.2rem;
              }
              button {
                background-color: transparent;
                border-radius: 50%;
                background-color: $black-700;
                border-radius: 2rem;
                width: fit-content;
                height: 2.8rem;
                border: 1px solid $purple;
                padding: 0.8rem 1.2rem;
                @include text($white-2, 400, $text-md);
                @include flex(center, center, row, 0.4rem);
                p {
                  display: block;
                }
                &:nth-child(2) {
                  background-color: $purple;
                }
                @include breakpoint(xl) {
                  height: 3.2rem;
                }
              }
            }
          }
        }
        .target{
          padding-bottom: 1rem;
        }
      }
    }
  }
  .prompt-box {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-bottom: 4rem;
    min-height: 0;
    height: fit-content;
    background-color: $black-700;
    @include flex(flex-end, center, column, 1.2rem);

    // .continue {
    //   width: 100%;
    //   display: none;
    //   @include breakpoint(xl) {
    //     @include flex(center, center, row, 2.4rem);
    //   }
    // }
  }
}

.redirecting {
  @include flex(center, center, column, 1.2rem);

  > p {
    @include text($white-2, 500, $text-lg);
  }
}
