@use "../../abstracts" as *;

.chat-bot {
  display: grid;
  width: 100%;
  height: 100%;
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 34.5rem;
    height: 100%;
    padding: 2.4rem 1.6rem;
    background-color: $black;
    @include flex(flex-start, flex-start, column);
    .logo {
      width: 3.5rem;
      height: 4rem;
    }
    &__process {
      flex: 1;
      background-color: red;
    }

    &__settings {
      padding: 0.6rem;
      @include flex(left, center, row, 1.2rem);
      .user-avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: contain;
      }
      .user-info {
        > strong {
          @include text($white, 400, $text-md);
        }
        > p {
          @include text($white, 400, $text-sm);
        }
      }
    }
  }

  .chat-window {
    margin-left: 34.5rem;
    height: 100%;
    .heading {
      width: 100%;
      height: 9.6rem;
      background-color: $black-1;
      z-index: 1;
      @include position(sticky, 0, null, null, null);
      @include flex(center, center, column);

      > strong {
        @include text($white-2, 500, $text-lg);
      }
      > small {
        @include text($gray-300, 400, $text-sm);
      }
    }
    .chat {
      padding-top: 5.4rem;
      padding-bottom: 10rem;
      margin: 0 auto;
      width: 100%;
      position: relative;
      max-width: 78.4rem;
      height: fit-content;
      overflow: hidden;
      @include flex(flex-end, flex-start, column, 5.7rem);
      &__history {
        flex: 1 1 auto;
        width: 100%;
        @include flex(flex-start, flex-start, column, 1.4rem);
        .message {
          width: 100%;
          max-width: 59.3rem;
          min-height: 5rem;
          background-color: transparent;
          @include text($white-2, 400, $text-md, 2.6rem);
          &__logo {
            @include text($gray-300, 400, $text-xs);

            > img {
              width: 1.4rem;
              height: 1.4rem;
              margin-right: 0.4rem;
            }
          }
          &--user {
            margin-left: auto;
            .message__logo {
              visibility: hidden;
            }
            .message__content {
              border-radius: 1.2rem;
              padding: 1.2rem;
              font-size: $text-lg;
              color: $white;
              background-color: $dark-purple;
            }
          }
        }
      }
    }
    .prompt-box {
      position: sticky;
      bottom: 0;
      width: 100%;
      z-index: 1000;
      padding-bottom: 4rem;
      min-height: 0;
      height: fit-content;
      background-color: $black-1;
      width: 100%;
      @include flex(flex-end, center, column, 1.2rem);

     
    }
  }
}
