@use "../../abstracts" as *;

.chat-bot {
  display: grid;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  @include position(fixed, 0, 0, 0, 0);
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 34.5rem;
    height: 100%;
    padding: 2.4rem 1.6rem;
    background-color: $black-700;
    display: none;
    @include breakpoint(lg) {
      @include flex(flex-start, flex-start, column);
    }
    .logo {
      width: 3.5rem;
      height: 4rem;
    }
    &__process {
      flex: 1;
      background-color: red;
    }

    &__settings {
      padding: 0.6rem;
      @include flex(left, center, row, 1.2rem);
      .user-avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: contain;
      }
      .user-info {
        > strong {
          @include text($white, 400, $text-md);
        }
        > p {
          @include text($white, 400, $text-sm);
        }
      }
    }
  }

  .chat-window {
    max-width: 100%;
    padding: 0 1.6rem;
    height: 100%;
    @include flex(flex-start, flex-start, column);
    @include breakpoint(lg) {
      margin-left: 34.5rem;
    }
    @include breakpoint(xs) {
      width: 100vw;
    }
    .heading {
      width: 100%;
      height: 8.4rem;
      background-color: $black-500;
      z-index: 1;
      @include position(sticky, 0, null, null, null);
      @include flex(center, center, column);
      @include breakpoint(lg) {
        height: 9.6rem;
      }
      > strong {
        @include text($white-2, 500, $text-lg);
      }
      > small {
        @include text($gray-300, 400, $text-sm);
      }
    }
    .chat {
      padding-top: 5.4rem;
      flex: 1 1 auto;
      margin: 0 auto;
      width: 100%;
      position: relative;
      max-width: 78.4rem;
      min-height: 0;
      overflow-y: auto;
      @include flex(flex-start, flex-start, column, 5.7rem);
      &__history {
        flex: 1 1 auto;
        width: 100%;
        @include flex(flex-start, flex-start, column);
        .message {
          min-width: 0;
          width: auto;
          min-height: 5rem;
          margin-bottom: 1.4rem;
          background-color: transparent;
          // @include text($white-2, 400, $text-md, 2.6rem);
          @include breakpoint(lg) {
            max-width: 59.3rem;
          }
          &__logo {
            @include text($gray-300, 400, $text-xs);

            > img {
              width: 1.4rem;
              height: 1.4rem;
              margin-right: 0.4rem;
            }
          }
          &--user {
            margin-left: auto;
            .message__logo {
              visibility: hidden;
            }
            .message__content {
              border-radius: 1.2rem;
              padding: 1.2rem;
              font-size: $text-lg;
              color: $white;
              background-color: $dark-purple;
            }
          }
        }
      }
    }
    .prompt-box {
      position: sticky;
      bottom: 0;
      width: 100%;
      z-index: 1000;
      padding-bottom: 4rem;
      min-height: 0;
      height: fit-content;
      background-color: $black-500;
      @include flex(flex-end, center, column, 1.2rem);

      .move-on{
        width: 100%;
        button{
          margin: auto;
          background-color: transparent;
          &:hover{
            color: $white-2;
          }
          @include text($gray-300, 400, $text-md );
          @include flex(center, center, row, 0.4rem);
        }
      }
      .continue {
        width: 100%;
        display: none;
        @include breakpoint(lg) {
          @include flex(center, center, row, 2.4rem);
        }
      }
    }
  }
}
