@use "../../abstracts/" as *;

.circular-progress {
  --percent: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(
      $white-2 calc(var(--percent) * 3.6deg),
      $gray-500 0deg
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 0.4rem),
      $black-700 calc(100% - 0.4rem + 1px)
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 0.4rem),
      $black-700 calc(100% - 0.4rem + 1px)
    );
  }
}
