@use "../../abstracts/" as *;

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.3s linear;
  // background: linear-gradient(180deg, $black 0%, rgba($black, 0) 100%);
  justify-content: center;
  align-items: center;
  // padding: 36px;
  @include position(fixed, 0, 0, 0, 0);

  &.open {
    opacity: 1;
    visibility: visible;
    display: flex;
    pointer-events: auto;
    .modal__overlay {
      pointer-events: auto;
      opacity: 1 !important;
      visibility: visible;
    }
    .modal__body {
      opacity: 1;
      pointer-events: auto;
      &.center {
        transform: scale(1);
      }
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    background: rgba($color: $black-950, $alpha: 0.5);
    visibility: hidden;
    pointer-events: none;
    transition: all 0.2s linear;
    overflow: hidden;
    z-index: 10;
    @include position(absolute, 0, 0, 0, 0);
  }

  &__body {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: transparent;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
    @include flex(center, center);
    .icon-close{
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    // &__content {
    //   width: fit-content;
    //   margin: auto;
    //   position: relative;
    //   @include flex(center, center);
    //   overscroll-behavior: contain;

    //   @include breakpoint(md) {
    //     padding: 0;
    //   }
    // }
    &::-webkit-scrollbar {
      display: none;
    }

    .logo {
      margin-bottom: 80px;
      margin-top: 0;
    }
    &.center {
      pointer-events: none;
      transform: scale(0.4);
    }
  }
}
@include keyframes(scaleUp) {
  0% {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    z-index: 0;
  }

  100% {
    z-index: 9999;
    opacity: 0;
    transform: scale(1);
    visibility: hidden;
  }
}
