@use "../../abstracts" as *;

.loading {
  width: 100%;
  height: 100%;
  background-color: $dark-gray;
  @include position(fixed, 0, 0, 0, 0);
  @include flex(center, center);
  .loader {
    width: 60px;
    aspect-ratio: 1;
    --_c: no-repeat radial-gradient(farthest-side, #B239E8 92%, transparent);
    background:
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 1.4rem 1.4rem;
    animation: loadingSpinner 1s infinite;
  }
}

@keyframes loadingSpinner {
  to {
    transform: rotate(0.5turn);
  }
}
